[submodule "bundleJava"]
	path = bundleJava
	url = https://github.com/epics-base/bundleJava
    branch = master
[submodule "pvDataJava"]
	path = pvDataJava
	url = https://github.com/epics-base/pvDataJava
    branch = master
[submodule "pvAccessJava"]
	path = pvAccessJava
	url = https://github.com/epics-base/pvAccessJava
    branch = master
[submodule "normativeTypesJava"]
	path = normativeTypesJava
	url = https://github.com/epics-base/normativeTypesJava
    branch = master
